@page
@model GeneralModel
@{
    ViewData["Title"] = "Add New Item";
}

@section Styles {

}

@section Scripts {
    <!-- DataTables -->
    <script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add New Items
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Items</a></li>
        <li class="active">Add New Items</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="scol-md-12">

            <!-- Add New Item -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Item</h3>
                </div>

                <div class="box-body">
                    <div class="col-md-4">

                        <form role="form" method="post" enctype="multipart/form-data">

                            <span asp-validation-for="ModelState"></span>
                            <div class="form-group">
                                <label>Select Menu Group</label>
                                <select class="form-control" asp-for="@Model.MenuItem.MenuId">
                                    <option value="0">Burger</option>
                                    <option value="1">McMorning</option>
                                    <option value="2">Drink</option>
                                    <option value="3">Side</option>
                                </select>
                                <span asp-validation-for="@Model.MenuItem.MenuId"></span>
                            </div>

                            <div class="form-group">
                                <label>Menu Name</label>
                                <input type="text" class="form-control" placeholder="Name" asp-for="@Model.MenuItem.Name" />
                                <span asp-validation-for="@Model.MenuItem.Name"></span>
                            </div>
                            <div class="form-group">
                                <label>Menu Price</label>
                                <input type="text" class="form-control" placeholder="Price" asp-for="@Model.MenuItem.Price" />
                                <span asp-validation-for="@Model.MenuItem.Price"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Menu Image</label>
                                <input type="file" class="form-control" id="uploadFile" name="uploadFile">
                                @*<span asp-validation-for="@Model.MenuItem.ImagePath"></span>*@
                            </div>

                            <!-- /.box-body -->

                            <div class="box-footer text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>


                    <div class="col-md-6 col-offset-1">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MenuItems.Count() > 0)
                                {
                                    @foreach (var item in Model.MenuItems)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.ImagePath</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
